ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

h2{
    font-size: 2rem;
}

button{
    background-color: #fe7467;
    border: none;
    cursor: pointer;
    color: #fff;    
}  

button a{
    font-size: 1rem;
    color: #fff;   
}




