/*header do contato*/

.header__contato{
    background-image: url(../img/contato/contatoheader.jpg);
    background-color: black;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;   
}

.header__contato_image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80%;  
}


.header__contato_image img{
    height: 50%;
    margin-bottom: 20px;   
}

.contato__title{
    color: #000;    
} 

.contato__title::after{ 
    background-color: red;  
    width: 150px; 
}

.contato__text{      
    margin: 15px;
 }

.contato__text p{
    text-align: center;   
}



@media screen and (max-width: 768px) {

    .header__contato_image{
        display: none;
    }

    .bloco{
        width: 100%;
    }

    .contato__title{
        text-align: center; 
        width: 100%;       
    }

    .contato__title h2{
        width: 100%;
    }

    .contato__text{      
       margin: 15px;
    }

    .contato__title p{
        width: 20%;
    }

    .contato__title p{
        width: 350px;
    }
  
}
